@{
    string filler = ((int)ViewBag.Count != -1) ? "N" : ViewBag.Count.ToString();
    ViewBag.Title = "Nums 1 ... " + filler;
}

<h2>@ViewBag.Title</h2>
<ul class="list-group">
    @{
        for (int i = 1; i <= ViewBag.Count; i++)
        {
            <li class="list-group-item">@i</li>
        }
    }
</ul>
<form asp-controller="Home" asp-action="NumbersToN" method = "post">
    <div class="row">
        <div class="col">
            <input class="form-control" type="number" min ="0" step="1"name="count"></input>
        </div>
        <div class="col">
            <button class="btn btn-primary"> Submit</button>
        </div>
    </div>
</form>